button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    display: flex;
  }


 .frente{
     margin: 500px;
 }

 .re{
     margin-left:500px;
     margin-top: 300px;
 }